/* You can add global styles to this file, and also import other style files */

.fast {
  -webkit-animation-duration:0.3s;
  animation-duration:0.3s;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both
}

#themecolors .selector .pointer {
  cursor: pointer;
}

#google-btn, .center-h {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

#responsive-modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.img-new {
  height: 50%;
  width: 50%;
}

.w100 {
  width: 100px;
}

.avatar {
  border-radius: 100%;
  width: 60px;
}
